@import url('https://fonts.googleapis.com/css?family=Orbitron|Roboto|Pacifico');

html, body {
  margin: 0;
  padding: 0; 
}

body {
  background-color: #fafafa;
  padding-top: 100px;
  font: 30px 'Roboto';
}

.calculator {
  background-color: #d8c3cd;
  height: 465px;
  width: 430px;
  margin: 0 auto;
  padding: 25px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.4), inset 0px -2px 15px 0px rgba(0,0,0,0.4), inset 7px 6px 10px 0px rgba(255,255,255,.4);
  -moz-box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.4), inset 0px -2px 15px 0px rgba(0,0,0,0.4), inset 7px 6px 10px 0px rgba(255,255,255,.4);
  box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.4), inset 0px -2px 10px 0px rgba(0,0,0,0.4), inset 7px 6px 10px 0px rgba(255,255,255,.4);
}

.screen {
  height: 65px;
  width: 395px;
  margin: 0 auto;
  text-align: right; 
  background-color: #cccdbf;
  font: 50px 'Orbitron';
  padding: 2% 3.5% 2% 3.5%;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.75), inset 2px 2px 10px 0px rgba(255,255,255,0.75);
  -moz-box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.75), inset 2px 2px 10px 0px rgba(255,255,255,0.75);
  box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.75), inset 2px 2px 10px 0px rgba(255,255,255,0.75);
  text-shadow: 2px 2px #a0b6b5;
}

p {
  overflow: hidden;
  position: relative;
  top: -38px;
  color: #2a2a2c;
}

.brand{
  margin: 20px 10px 0px 10px;
  font: 20px 'Pacifico';
  color: #a9a8ad;
}

.solarCell {
  background-color: #342117;
  display: block;
  float: right;
  height: 30px;
  width: 10%;
  border: 1px solid #382821;
  box-shadow: -1px -1px 0px 1px rgba(0,0,0,1);
  -webkit-box-shadow: -1px -1px 0px 1px rgba(0,0,0,1);
  -moz-box-shadow: -1px -1px 0px 1px rgba(0,0,0,1);
}

.container {
  height: 59%;
  display: block;
  text-align: center;
  line-height: 50px; 
}

.buttons {
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 0px 0px #df999e, inset 0px 0px 5px 0px rgba(255,255,255,.4));
  -moz-box-shadow: 0px 3px 0px 0px #df999e, inset 0px 0px 5px 0px rgba(255,255,255,.4);
  box-shadow: 0px 3px 0px 0px #df999e, inset 0px 0px 5px 0px rgba(255,255,255,.4);
}

.functions {
  width: 15%;
  float: left;
  margin: 1.66%;
  color: #df999e;
}

.functions .buttons {
  background-color: #ffffff;
  height: 50px;
  margin: 20% 0 20% 0;
  border-radius: 10px;
  box-shadow: 0px 3px 0px 0px #e3e3e3;
  -webkit-box-shadow: 0px 3px 0px 0px #e3e3e3;
  -moz-box-shadow: 0px 3px 0px 0px #e3e3e3;
}

.numbers {
  width: 63%;
  height: 20px;
  float: left;
  height: auto;
  padding-top: 15px;
  color: #ffffff;
}

.numbers .buttons {
  background-color: #df999e;
  height: 51px;
  margin: 2.1% 4.1% 2.1% 4.1%;
  width: 25%;
  float: left;
}

.operations {
  width: 15%;
  float: left;
  margin: 1.66%;
  color: #df999e;
}

.operations .buttons {
  background-color: #ffffff;
  height: 50px;
  margin: 20% 0 20% 0;
  box-shadow: 0px 3px 0px 0px #e3e3e3;
}

#add {
  height: 100px;
  line-height: 100px;
}

#on {
  color: #ffffff;
  background-color: #79a5c8;
  box-shadow: 0px 3px 0px 0px #6692b3;
  -webkit-box-shadow: 0px 3px 0px 0px #6692b3;
  -moz-box-shadow: 0px 3px 0px 0px #6692b3;
}

.enter {
  background-color: #ffffff;
  height: 50px;
  margin: 0 auto;
  width: 50%;
  color: #df999e;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0px 3px 0px 0px #e3e3e3;
}

span {
  position: relative;
  top: -46px;
}


